<div class="page-header">
  <%= link_to memberships_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  <% end %>
  <% if session[:single_pass] %>
  	<h1>Buy day pass</h1>
  <% else %>
  	<h1>New membership</h1>
  <% end %>
</div>

<%= render 'form' %>
