<!-- Site footer -->
<footer>
	<p><b>Hackerspace Adelaide</b> <%= DateTime.now.strftime('%Y') %></p>
	<p>Incorporation number: A41396</p>
	<p>c/o ANAT<br>
	Level 2, 142 North Terrace,<br>
	Adelaide, 5000</p>
</footer>

<!-- Google Analytics -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS'] %>']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>