<!-- Jumbotron -->
<div class="jumbotron">
	<%= image_tag "hackerspace-adelaide-logo.png", :alt => "Hackerspace Adelaide Membership website", :title => "Hackerspace Adelaide Membership website", :width => 200, :class => "home-logo" %>
	<h1>So you like electronics?</h1>
	<p>Welcome to Hackerspace Adelaide, a place to work on robots, 3D printers, sound generators, ham radio, Arduino, Raspberry Pi, and any other software and hardware projects you can dream up. It's a friendly open environment where people can come who have no prior background in electronics and learn from others who've been doing it for years.</p>
	<% unless try(:current_user).try(:has_membership?) %>
		<p><%= link_to 'Become a member!', memberships_path, class: 'btn btn-lg btn-success' %></p>
	<% end %>
	<p>This is the membership website, where you can join and help support the growing community of <a href="http://en.wikipedia.org/wiki/Hacker_(hobbyist)">hackers</a>. But you don't need a membership to come along and play, just turn up to one of the sessions!</p>
	<h2>Hack sessions</h2>
	<p>Wednesday 6pm - 9pm<br>
	Saturday 1pm - 4pm</p>
	<p>c/o Majoran<br>
	14 Grenfell Street,<br>
	Adelaide, 5000</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-lg-4">
		<h2>Blog</h2>
		<p>Here's where a small feed of blog updates will be pulled in.. maybe some photos too?</p>
		<p><%= link_to raw('Read the blog &raquo;'), 'http://hackerspace-adelaide.org.au/blog', :class => 'btn btn-primary' %></p>
	</div>
	<div class="col-lg-4">
		<h2>Wiki</h2>
		<p>Latest pages to be edited on the wiki?</p>
		<p><%= link_to raw('Read the wiki &raquo;'), 'http://hackerspace-adelaide.org.au/wiki', :class => 'btn btn-primary' %></p>
	</div>
	<div class="col-lg-4">
		<h2>Email list</h2>
		<p>It's probably time we actually made a proper email list so that we can mail people a summary of projects that our members are working on and or group projects. Perhaps even announce new tools that we've bought.</p>
		<p><a class="btn btn-primary" href="#">Join the email list &raquo;</a></p>
	</div>
</div>
