/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 .page-header {
 	margin-top: 20px !important;
 }

 .admin-column {
 	width: 200px;
 	text-align: center;
 }

 .dropdown-menu {
 	margin-top: -9px !important;
 }

 .membership-options {

 }

 .membership-option {
 	padding: 1em;
 	margin-bottom: 2em;
 	background-color: #F9F9F9;
 	border-radius: 3px;
 }

 .membership-option h2 {
 	margin-top: 0px;
 	font-size: 1.6em;
 }

 .membership-option h3 {
 	margin-top: 0px;
 	font-size: 1.2em;
 	color: #7D7D7D;
 }

 .membership-option h3 span {
 	font-weight: normal;
 	font-size: 0.8em;
 }

 .membership-option + .membership-option {
 	margin-right: 1em;
 }

 .jumbotron {
 	margin-top: 1em;
 }